# Cache and temporary files.
._*
.cache/
*~

# Database files.
*.db*
*.sql
*.sqlite*

# Dependencies.
node_modules/

# Diff and patch files.
*.BACKUP.*
*.BASE.*
*.diff
*.LOCAL.*
*.orig
*.patch
*.REMOTE.*

# Logs and reports.
*.log*
*.pid
*.pid.lock
logs/

# Operating system files.
.directory
.DocumentRevisions-V100
.DS_Store
.snapshots/
.Spotlight-V100
.Trashes
[Dd]esktop.ini
*.cab
*.lnk
*.msi
*.msix
*.msm
*.msp
*.stackdump
*core
$RECYCLE.BIN/
ehthumbs*.db
Thumbs.db*

# Secrets and environment variables.
.env*
*.key
*.p12
*.pem
*.pfx

# Explicitly allowed files.
!.env.example
!bun.lock
!bun.lockb
