._*
.cache/
.directory
.DocumentRevisions-V100
.DS_Store
.env*
.snapshots/
.Spotlight-V100
.Trashes
[Dd]esktop.ini
*.cab
*.db*
*.key
*.lnk
*.log*
*.msi
*.msix
*.msm
*.msp
*.p12
*.pem
*.pfx
*.pid*
*.sqlite*
*.stackdump
*~
*core
$RECYCLE.BIN/
ehthumbs*.db
node_modules/
Thumbs.db*

# Explicitly allowed files.
!.env.example
!bun.lock
!bun.lockb
