{
	# Configures ACME to use ZeroSSL and Cloudflare.
	acme_ca https://acme.zerossl.com/v2/DV90
	acme_dns cloudflare {$CLOUDFLARE_API_TOKEN}
	email {$ACME_EMAIL}

	# Dynamically update A/AAAA records for ${DDNS_DOMAINS}.
	dynamic_dns {
		provider cloudflare {$CLOUDFLARE_API_TOKEN}
		check_interval 1h
		versions ipv4
		domains {
			{$DDNS_DOMAINS}
		}
	}

	# Trust local, Docker, Tailscale, and Cloudflare IP ranges.
	servers {
		trusted_proxies static 10.0.0.0/8 172.16.0.0/12 192.168.0.0/16 100.64.0.0/10 fc00::/7
		trusted_proxies cloudflare
	}
}

# Snippet for externally accessible reverse proxied services.
(external_proxy) {
	encode zstd gzip
	reverse_proxy {args[0]}

	# Enables HSTS and configures security headers.
	header {
		-Server
		Referrer-Policy "strict-origin-when-cross-origin"
		Strict-Transport-Security "max-age=31536000; includeSubDomains; preload"
		X-Content-Type-Options "nosniff"
		X-Frame-Options "DENY"
	}

	# Enables logging a-la access.log.
	log {
		format json
		output stdout
	}
}

# Snippet for internal-only reverse proxied services.
(internal_proxy) {
	@not_internal not remote_ip private_ranges 100.64.0.0/10
	abort @not_internal
	encode zstd gzip
	reverse_proxy {args[0]}
}

###########################################################################
# Externally accessible services.                                         #
###########################################################################

{$CHHOTO_URL} {
	import external_proxy chhoto:4567
}

{$GATUS_URL} {
	import external_proxy gatus:8080
}

{$JELLYFIN_URL} {
	import external_proxy jellyfin:8096
}

{$OPENCLOUD_URL} {
	import external_proxy opencloud:9200
}

{$THELOUNGE_URL} {
	import external_proxy thelounge:9000
}

{$VAULTWARDEN_URL} {
	# Basic settings.
	encode zstd gzip
	log {
		format json
		output stdout
	}

	# Let Vaultwarden manage its own security headers; enable HSTS.
	header {
		-Server
		Strict-Transport-Security "max-age=31536000; includeSubDomains; preload"
	}

	# Send all traffic to the Vaultwarden container.
	reverse_proxy vaultwarden:80
}

###########################################################################
# Internal-only services; proxied but should use internal DNS rewrites.   #
###########################################################################

beszel.{$INTERNAL_DOMAIN} {
	import internal_proxy beszel:8090
}

cleanuparr.{$INTERNAL_DOMAIN} {
	import internal_proxy cleanuparr:11011
}

dozzle.{$INTERNAL_DOMAIN} {
	import internal_proxy dozzle:8080
}

huntarr.{$INTERNAL_DOMAIN} {
	import internal_proxy huntarr:9705
}

lazylibrarian.{$INTERNAL_DOMAIN} {
	import internal_proxy gluetun:5299
}

lidarr.{$INTERNAL_DOMAIN} {
	import internal_proxy lidarr:8686
}

profilarr.{$INTERNAL_DOMAIN} {
	import internal_proxy profilarr:6868
}

prowlarr.{$INTERNAL_DOMAIN} {
	import internal_proxy gluetun:9696
}

qbittorrent.{$INTERNAL_DOMAIN} {
	import internal_proxy gluetun:8080
}

radarr.{$INTERNAL_DOMAIN} {
	import internal_proxy radarr:7878
}

slskd.{$INTERNAL_DOMAIN} {
	import internal_proxy gluetun:5030
}

sonarr.{$INTERNAL_DOMAIN} {
	import internal_proxy sonarr:8989
}
