{
	acme_ca https://acme.zerossl.com/v2/DV90
	acme_dns cloudflare {$CLOUDFLARE_API_TOKEN}
	email {$ACME_EMAIL}

	dynamic_dns {
		# Use Cloudflare for Dynamic DNS.
		provider cloudflare {$CLOUDFLARE_API_TOKEN}
		check_interval 1h
		versions ipv4

		# Domain and subdomains to automatically update DNS records for.
		domains {
			{$DDNS_DOMAINS}
		}
	}

	servers {
		# Pass origin IP to Docker containers; allow private ranges + Tailscale access.
		trusted_proxies static private_ranges 100.64.0.0/10
	}
}

# Default settings for all directives.
(default_settings) {
	encode zstd gzip

	# Enable logging.
	log {
		format json
		output stdout
	}
}

# Internal only directive.
(internal_only) {
	@not_internal not remote_ip private_ranges 100.64.0.0/10
	abort @not_internal
	import default_settings
}

{$CHHOTO_URL} {
	import default_settings
	reverse_proxy chhoto:4567
}

{$JELLYFIN_URL} {
	import default_settings
	reverse_proxy jellyfin:8096
}

{$OPENCLOUD_URL} {
	import default_settings
	reverse_proxy opencloud:9200
}

{$VAULTWARDEN_URL} {
	import default_settings
	reverse_proxy vaultwarden:80
}

{$THELOUNGE_URL} {
	import default_settings
	reverse_proxy thelounge:9000
}

# Internal routes.

cleanuparr.{$INTERNAL_DOMAIN} {
	import internal_only
	reverse_proxy cleanuparr:11011
}

lidarr.{$INTERNAL_DOMAIN} {
	import internal_only
	reverse_proxy lidarr:8686
}

profilarr.{$INTERNAL_DOMAIN} {
	import internal_only
	reverse_proxy profilarr:6868
}

prowlarr.{$INTERNAL_DOMAIN} {
	import internal_only
	reverse_proxy gluetun:9696
}

qbittorrent.{$INTERNAL_DOMAIN} {
	import internal_only
	reverse_proxy gluetun:8080
}

radarr.{$INTERNAL_DOMAIN} {
	import internal_only
	reverse_proxy radarr:7878
}

readarr.{$INTERNAL_DOMAIN} {
	import internal_only
	reverse_proxy readarr:8787
}

slskd.{$INTERNAL_DOMAIN} {
	import internal_only
	reverse_proxy gluetun:5030
}

sonarr.{$INTERNAL_DOMAIN} {
	import internal_only
	reverse_proxy sonarr:8989
}
